body {
  background: red;
  -webkit-animation: color_morph 20s infinite linear;
	        animation: color_morph 20s infinite linear;
}

@-webkit-keyframes color_morph {
  0% { background-color: #B5464E; }
  33% { background-color: #447C69; }
  66% { background-color: #61899C; }
  100% { background-color: #B5464E; }
}

@keyframes color_morph {
  0% { background-color: #B5464E; }
  33% { background-color: #447C69; }
  66% { background-color: #61899C; }
  100% { background-color: #B5464E; }
}
